
body {
    background-color: darkslategrey;
}

.main-div {
    background-color: burlywood;
    height: 2000px;
    width:500px;
    display: flex;
    border: solid 1px black;
  }
  div {
    flex-grow: 0;
    flex-basis: 0;
    background-color: darkolivegreen;
    max-height: 200px;
    min-width: 3.5rem;
    border: solid 1px black;
    
  }
  button {
    width: fit-content;
    height: fit-content;
    
  }

  